node_modules/
.yarn/*
*.lock
*lock.json
*lock.yaml
*lockb
!bun.lock

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
#.env
#.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Protected Assets
/static/backgrounds/

# Project Files
*.zed/
*.vscode/
*.claude/
CLAUDE.md
