@font-face {
  font-family: 'CaskaydiaCove Nerd Font';
  src: url('/fonts/CaskaydiaCove-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.card {
  h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    font-style: italic;
    color: var(--accent-background);
  }
  h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  p > a {
    color: #c2c2c2;
    text-decoration: underline;
  }
  p > a:hover {
    color: var(--accent-background);
  }
  hr {
    height: 1px;
    background-color: #c2c2c2;
    border: none;
  }
  width: 100%;
  background-color: var(--page-background);
  /*backdrop-filter: blur(10px) saturate(180%);*/
  color: var(--primary);
  border: 1px solid #000;
  border-radius: 20px;
}

.card-content {
  padding: 10px;
}
