@font-face {
  font-family: 'CaskaydiaCove Nerd Font';
  src: url('/fonts/CaskaydiaCoveNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CaskaydiaCove Nerd Font';
  src: url('/fonts/CaskaydiaCoveNerdFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CaskaydiaCove Nerd Font';
  src: url('/fonts/CaskaydiaCoveNerdFont-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

.card {
  h1 {
    font-size: 24px;
    font-weight: bolder;
    font-style: italic;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  h3 {
    font-size: 16px;
  }
  width: 100%;
  background-color: var(--page-background);
  /*backdrop-filter: blur(10px) saturate(180%);*/
  color: var(--primary);
  border: 1px solid #000;
  border-radius: 20px;
}

.card-content {
  padding: 10px;
}
