@font-face {
  font-family: 'CaskaydiaCove Nerd Font';
  src: url('/fonts/CaskaydiaCove-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
  opacity: 0.8;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c2c2c2 transparent;
}

@media (min-width: 769px) {
  .card {
    width: 100%;
    background-color: var(--page-background);
    color: var(--primary);
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  font-style: italic;
  color: var(--accent-background);
}
h2 {
  font-size: 1.25rem;
  font-weight: bold;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.9rem;
}
p > a {
  color: #c2c2c2;
  text-decoration: underline;
}
p > a:hover {
  color: var(--accent-background);
}
hr {
  height: 0.5px;
  background-color: #c2c2c2;
  border: none;
}
